<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClientSearch" connectionString="Data Source=.;Integrated Security=True;Pooling=False;Initial Catalog=ClientSearch" providerName="System.Data.SqlClient" />
    <add name="ClientMap" connectionString="Data Source=.;Integrated Security=True;Pooling=False;Initial Catalog=ClientDataMap" providerName="System.Data.SqlClient" />

    <add name="ClientDBContext" connectionString="metadata=res://*/ClientMap.csdl|res://*/ClientMap.ssdl|res://*/ClientMap.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ClientDataMap;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.ServiceModel" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Common" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.0.0" newVersion="0.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>